@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar custom-navbar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row top-bar px-4">
            <a href="about" class="text-white" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
