<div class="top-row ps-3 navbar navbar-dark custom-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Island Insights</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable custom-navbar" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link custom-nav-item" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link custom-nav-item" href="local">
                    Local
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link custom-nav-item" href="world">
                    World
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link custom-nav-item" href="sports">
                    Sports
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link custom-nav-item" href="weather">
                    Weather
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
