<div class="top-row ps-3 navbar navbar-dark custom-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Island Insights</a>
        <button class="btn" @onclick="ToggleNavMenu" aria-label="Toggle navigation">
            <i class="bi bi-list text-white" style="font-size: 1.5rem;"></i>
        </button>
    </div>
</div>

<div class="nav-scrollable custom-navbar @(collapseNavMenu ? "collapsed" : "expanded")">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link custom-nav-item" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link custom-nav-item" href="local">
                    Local
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link custom-nav-item" href="world">
                    World
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link custom-nav-item" href="sports">
                    Sports
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link custom-nav-item" href="weather">
                    Weather
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = false;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
        StateHasChanged(); 
    }
}
